CD Entrega Vieja/Fuentes/Backend y API Rest/ConsolaPruebasWCF/Service References/ServicioProyectFinal/ServicioProyectoFinal1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFProyectoFinal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFProyectoFinal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDtoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoCliente" nillable="true" type="tns:DtoCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoCliente" nillable="true" type="tns:ArrayOfDtoCliente" />
  <xs:complexType name="DtoCliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoUsuario">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoCliente" nillable="true" type="tns:DtoCliente" />
  <xs:complexType name="DtoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Barrio" nillable="true" type="tns:DtoBarrio" />
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdBarrio" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaModificacionContrasena" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoUsuario" nillable="true" type="tns:DtoUsuario" />
  <xs:complexType name="DtoBarrio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="tns:DtoDepartamento" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoBarrio" nillable="true" type="tns:DtoBarrio" />
  <xs:complexType name="DtoDepartamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoDepartamento" nillable="true" type="tns:DtoDepartamento" />
  <xs:complexType name="ArrayOfDtoAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoAdministrador" nillable="true" type="tns:DtoAdministrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoAdministrador" nillable="true" type="tns:ArrayOfDtoAdministrador" />
  <xs:complexType name="DtoAdministrador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoUsuario">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DtoAdministrador" nillable="true" type="tns:DtoAdministrador" />
</xs:schema>